/* global variables */

.App {
}

/* input and output containers */

.io-column {
  height: 500px;
}

.io-container {
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;
}

.input-container {
  background: green;
}

.output-container {
  background: red;
  white-space: pre-line;
  font-family: monospace;
}

/* folder vs file styles*/

.file-style {
}

.folder-style {
}

/*Symbol SVG styles*/

.item-svg {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
  margin-left: 1px;
}

.file-svg {
}

.folder-svg {
}

/*Item Components*/

.item-component {
  margin-left: 5px;
}

/* Style for the Name of the Item*/

.item-name {
  display: inline-block;
}

.file-name {
}

.folder-name {
}

/* Style for the folder sub box*/

.folder-box {
}
