name: Build GH Pages

on:
  push:
    branches:
      - prod

jobs:
  build:
    name: Build Pages
    runs-on: ubuntu-latest
    steps:
      - name: Show Github Context
        env:
          GITHUB_CONTEXT: ${{toJson(github)}}
        run: echo $GITHUB_CONTEXT
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run npm Build
        run: npm run build

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./build
  deploy:
    name: Deploy Pages
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Show Github Context
        env:
          GITHUB_CONTEXT: ${{github}}
        run: echo $GITHUB_CONTEXT
      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v2
