name: Build GH Pages

on:
  push:
    branches:
      - prod

jobs:
  build:
    name: Build Pages
    runs-on: ubuntu-latest
    steps:
      - name: Show Github Context
        env:
          GITHUB_CONTEXT: ${{toJson(github)}}
        run: echo $GITHUB_CONTEXT
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run npm install
        run: npm install

      - name: Run npm Build
        run: npm run build

      - name: Deploy to pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
